1. Кінцева ціль застосунку - створення та редагування діаграм та їх перетворення в код. Щоб користувачі могли створювати діаграми, їм потрібні різні блоки, які вони можуть розміщувати на полотні та зв'язувати одні з одними. Наприклад, блоки можуть представляти класи, інтерфейси, асоціації і т. д.
    Для створення діаграм користувачі повинні мати можливість додавати, переміщувати та змінювати блоки на полотні. Вони також повинні мати можливість з'єднувати блоки за допомогою стрілок та задавати властивості для кожного блоку, такі як ім'я, тип та атрибути.
    Застосунок повинен мати можливість компілювати діаграми в код на мові Java. Для цього необхідно реалізувати компілятор.
    Також необхідно забезпечити захист даних, включаючи можливість збереження та загрузки діаграм, а також можливість резервного копіювання даних.
2. Нефункціональні вимоги
    - застосунок повинен забезпечувати швидку взаємодію з користувачем, не затримуючи користувачів на очікування виконання операцій. Додаток повинен бути здатним обробляти великі обсяги даних, оскільки блоки можуть бути пов'язані один з одним і утворювати складні діаграми.
    - програма має працювати без збоїв та помилок, навіть в умовах високого навантаження. Усі функції програми повинні працювати правильно та достовірно, а при виникненні помилок програма повинна повідомляти про це користувачеві та надавати можливість виправлення помилок.
    - програма повинна забезпечувати захист конфеденційності та цілісності даних користувачів. Це може включати захист від несанкціонованого доступу до даних і протоколювання всіх дій користувачів в системі.
    - додаток має бути лекко підтримуваним та модифікованим у майбутньому. Це може включати хорошу документацію і чистий, модульний код, який можна легко змінювати і розширювати.
    - додаток має бути доступним для використання в будь-який час доби і в будь-якому місці, де є доступ до Інтернету. Також програма має підтримувати доступність для людей з обмеженими можливостями, такими як люди з вадами зору або слуху.
3. Хто є користувачами застосунку?
    - Користувачами застосунку будуть програмісти почасківці, студенти та школярі, які займаються програмуванням та мають дякий рівень знань в програмуванні.
   Яка ціль використання застосунку?
    - Користувачі будуть використовувати застосунок для створення та редагування діаграм для написання програм.
   Який досвід в програмуванні мають користувачі?
    - Користувачі будуть мати різний рівень досвіду в області програмування. Деякі користувачі будуть початківцями, а деякі будуть досвідченими розробниками.
   Який рівень складності повинні мати програми, які можуть бути створені за допомогою застосунку?
    - Застосунок буде мати можливості для створення програм різного рівня складності - від простих програм до складних та масштабних систем. Однак, для створення більш складних програм користувачі повинні мати відповідний рівень знань та досвіду в програмуванні.
4. Які аналоги застосунку вже існують?
    - На ринку вже існують аналоги мого застосунку, наприклад - Astah, PlantUML, Draw.io, Creately, Lucidchart та інші
    - Існуючі аналоги надають можливості створення UML-діаграм та мають різні функціональні можливості, такі як експорт та імпорт діаграм, підтримку різних мов програмування, вбудовані шаблони та інше. Деякі з аналогів також мають можливість колаборації між користувачами. Однак, багато з них є платними, мають обмеження по функціоналу в безкоштовній версії, або не підтримують деякі види діаграм.
    - Мій застосунок відрізняється тим що буде безкоштовним та з відкритим кодом, з відсутністю  обмежень по функціональності. Воно також буде підтримувати створення та редагування UML-діаграм а також компіляцію програм в мову Java. Крім того буде додана функціональність для створення діаграм для інших мов програмування та інструменти для візуальної відладки програм.
5. На розробку я готовий виділяти по 2-3 години кожен день, бекенд застосунку буде розроблений на java Spring Boot, а спосіб реалізації фронтенду буде обрано пізніше.