.square {
  transition: transform 0.2s ease-in-out;
  border-radius: 15px;
  background-color: aqua;
  font-size: 7rem;
  color: #000;
  font-weight: bolder;
  cursor: pointer;
}

.square:hover {
  transform: scale(1.1);
}
